/*border: 1px solid #345f92;*/
/*box-shadow: 0 0px 10px #2C58A6;*/
*{margin:0;padding:0;}
html,body,footer,button,div,dd,dt,dl,a,b,i,em,form,h1,h2,h3,h4,h5,h6,input,label,li,nav,p,select,span,textarea,ul,li {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #a7c4ec;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  list-style: none
}
html,body{
  height: 100%;
}
.clear{
  clear: both;
}
.p10{
  padding: 4px;
}
.fr{
  float: right;
}
p.title{
  padding: 0px 10px;
  margin: 10px 0;
  font-weight: 700;
  border-left: 3px solid #2C58A6;
}
